<template name="programmingModule">
    <select class="select-language" id="select-language-{{id}}">
        <optgroup label="Programming Language">
            {{#each allowedLanguages}}
                <option value="{{this}}">{{getLangName this}}</option>
            {{else}}
                <option value="python/latest">Python 3</option>
                <option value="python/2">Python 2</option>
                <option value="javascript/latest">JavaScript</option>
                <option value="java/latest">Java</option>
                <option value="ruby/latest">Ruby</option>
                <option value="clang/latest">C++</option>
                <option value="perl/latest">Perl</option>
            {{/each}}
        </optgroup>
    </select>
    <br/>
    <textarea class="programming-area" id="programming-area-{{id}}"></textarea>
</template>