<template name="classroom">
    {{> pageTitle}}
    <div class="container">
        teacher
        <form class="form-inline" id="createClassForm">
            <div class="form-group">
                <label for="inputClassName">Class Name</label>
                <input type="text" class="form-control" id="inputClassName" placeholder="Class Name">
            </div>
            <button type="submit" class="btn btn-primary">Add Class</button>
        </form>

        <br>
        <h3>Your Classes:</h3>
        <div>


            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                {{#each classes}}
                    <li role="presentation" class="{{#if ifCond @index '===' 0}}active{{/if}}"><a href="#class-{{_id}}" role="tab" data-toggle="tab">{{name}}</a></li>
                {{/each}}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {{#each classes}}
                    <div role="tabpanel" class="tab-pane {{#if ifCond @index '===' 0}}active{{/if}}" id="class-{{_id}}">

                        name: {{name}}
                        <br>
                        join code: {{code}}
                        <br>
                    </div>
                {{/each}}
            </div>

        </div>
        <br>
    </div>
</template>