<template name="updates">
    {{> pageTitle title='Updates'}}
    <br>
    <div class="container">
        {{#each updates}}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        {{title}}
                    </div>
                    <div class="panel-title pull-right">
                        <i>{{livestamp time}}</i>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    {{{description}}}
                </div>
            </div>
        {{else}}
            <p>There are currently no updates to display!</p>
        {{/each}}
    </div>
</template>